<%= turbo_frame_tag "modal" do %>
  <div class="fixed z-50 inset-0 bg-black/10 backdrop-blur">
    <div class="absolute inset-1">
      <div class="max-w-lg md:top-1/4 left-1/2 bg-white dark:bg-stone-700 -translate-x-1/2 rounded-lg drop-shadow-overhead modal-dialog relative">
        <%= render partial: "components/close_button" %>

        <div class="px-6 py-2">
          <%= render partial: "header", locals: { unit_membership: @family_rsvp.unit_membership, event: @event } %>
        </div>

        <%= form_with url: unit_event_family_rsvps_path(@event.unit, @event, unit_membership_id: @family_rsvp.unit_membership.id),
                      method: :post, format: :turbo_stream,
                      data: { controller: "dirt-detector" } do |f| %>

          <section class="py-4 rounded-lg bg-green-500">
            <%= render partial: "events/edit_rsvp_fields", locals: { event: @event, f: f, presenter: @presenter, unit_membership: @member } %>
          </section>

          <footer class="px-6 py-2 flex flex-col md:flex-row gap-2 justify-end text-sm border-t">
            <%= button_tag "Cancel",
                           type: "button",
                           class: "bg-stone-300 hover:bg-stone-400 font-medium rounded px-5 py-2",
                           data: { action: "click->modal#close" } %>

            <%= f.submit @family_rsvp.new_record? ? "Send Your RSVP" : "Update Your RSVP",
                         class: "text-white bg-brand-500 hover:bg-brand-600 font-medium rounded px-5 py-2",
                         id: "accept" %>
          </footer>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
