<%  unit_membership ||= current_member
    family = unit_membership.family(include_self: :prepend) 
    family_member_ids = family.map(&:id)
    rsvps = event.rsvps.where(unit_membership_id: family_member_ids)
    @rsvps = rsvps
    notes = rsvps.map(&:note).uniq.compact.join(", ")
%>

<ul class="space-y-1">
  <% family.each_with_index do |family_member, index| %>
    <% existing_rsvp = event.rsvps.find_by(unit_membership: family_member) %>
    <% rsvp = event.rsvps.build( unit_membership: family_member,
                                  response: existing_rsvp&.response,
                                  includes_activity: existing_rsvp&.includes_activity,
                                  event_shift_ids: existing_rsvp&.event_shift_ids ) %>

    <% policy = EventRsvpPolicy.new(current_member, rsvp) %>

    <li class="relative member-rsvp-item text-sm md:text-base">
      <div class="flex flex-row justify-between items-center py-2 gap-2 md:gap-20">
        <div>
          <i class="fa-regular fa-user text-brand-500 mr-1"></i>
          <%= presenter.family_context_name(family_member) %>
        </div>

        <div>
          <%# switch %>
          <% if @event.shifts? %>
            <% @event.shifts.each do |shift| %>
              <div class="py-1 ml-1 text-sm">
                <%= render partial: "components/switch", locals: { checked: existing_rsvp&.event_shift_ids&.include?(shift.id),
                                                                   label: shift.name,
                                                                   object_name: "event[members][#{family_member.id}][shifts][#{shift.id}]",
                                                                   method: "response",
                                                                   checked_value: "accepted",
                                                                   unchecked_value: "declined",
                                                                   disabled: !policy.create? } %>
              </div>
            <% end # each shift %>
          <% else %>
            <% if existing_rsvp&.pending_approval? %>
              <div class="inline-block text-yellow-700 dark:text-yellow-500 text-sm mx-2">
                <i class="fa-regular fa-info-circle inline-block px-1"></i>
                <% if existing_rsvp.respondent == current_member %>
                  <%= "pending approval" %>
                <% else %>
                  <%= "pending your approval" %>
                <% end %>
              </div>
            <% end %>


<%# def double_throw_switch(object_name, method, options = {}) %>

      <%# radio_button(object_name, method, options[:left_value], { class: "left-value dp-switch", checked: options[:checked_left], disabled: options[:disabled] }) +
      radio_button(object_name, method, "nil", { class: "center-value dp-switch", checked: options[:checked_center], disabled: options[:disabled] }) +
      radio_button(object_name, method, options[:right_value], { class: "right-value  dp-switch", checked: options[:checked_right], disabled: options[:disabled] }) + %>


            <div class="flex">
              <%# Regrets first in DOM so it acts as the peer; uses rsvp-label for forward-sibling styling %>
              <%= label_tag nil, class: "rsvp-label peer order-last border border-stone-400 text-sm font-medium bg-stone-200 text-stone-500 px-4 py-2 rounded-r-md has-[input:checked]:bg-red-700 has-[input:checked]:text-white has-[input:checked]:border-transparent" do %>
                <%= radio_button "unit_memberships[#{family_member.id}]", "response", "declined",
                  { class: "hidden", checked: existing_rsvp&.declined? || existing_rsvp&.declined_pending? } %>
                Regrets
              <% end %>

              <%# Going! second in DOM, uses peer-has for backward-sibling styling %>
              <%= label_tag nil, class: "rsvp-label order-first peer-has-[input:checked]:text-stone-400 peer-has-[input:checked]:border-transparent border border-r-0 border-stone-400 text-sm font-medium bg-stone-200 text-stone-500 px-4 py-2 rounded-l-md has-[input:checked]:bg-lime-700 has-[input:checked]:text-white has-[input:checked]:border-transparent" do %>
                <%= radio_button "unit_memberships[#{family_member.id}]", "response", "accepted",
                  { class: "hidden", checked: existing_rsvp&.accepted? || existing_rsvp&.accepted_pending? } %>
                Going!
              <% end %>
            </div>

            <%#= double_throw_switch("unit_memberships[#{family_member.id}]", "response",
                                    checked_left:  existing_rsvp&.declined? || existing_rsvp&.declined_pending?,
                                    checked_right: existing_rsvp&.accepted? || existing_rsvp&.accepted_pending?,
                                    checked_center: !existing_rsvp.present?,
                                    left_value:    "declined",
                                    right_value:   "accepted",
                                    left_label:    "Regrets",
                                    right_label:   "Going!",
                                    disabled:      !policy.create?,
                                    wrapper_classes: "pl-1 relative text-xs md:text-base",
                                    data: { controller: "double-throw-switch" } ) %>

            <div>
              <div class="dt-switch-indicator dt-switch-indicator-left absolute left-0 top-1/2 -translate-y-1/2">
                <i class="fa-solid fa-fw fa-user-xmark text-red-600 mr-1"></i>
              </div>

              <div class="dt-switch-indicator dt-switch-indicator-center absolute left-0 top-1/2 -translate-y-1/2">
                <i class="fa-solid fa-fw fa-user text-stone-500 mr-1"></i>
              </div>

              <div class="dt-switch-indicator dt-switch-indicator-right absolute left-0 top-1/2 -translate-y-1/2">
                <i class="fa-solid fa-fw fa-user-check text-lime-600 mr-5"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%# note field %>
<div class="mt-3 mt-2 text-sm">
  <%= f.label :note, class: "block mb-1" %>
  <%= text_field_tag :note,
    notes,
    class: "rounded text-sm p-2 block w-full placeholder-stone-400 border border-stone-200 dark:bg-stone-900 dark:border-stone-700 dark:placeholder-stone-500",
    placeholder: t("events.rsvp.note_placeholder"),
    autocomplete: "off" %>
</div>

<style>
  /* Forward-sibling: dim Regrets label when Going! (next sibling) is checked */
  .rsvp-label:has(~ .rsvp-label input:checked) {
    color: #a8a29e;
    border-color: transparent;
  }
</style>
