<% current_year = 0 %>
<% current_col = 0 %>
<% presenter = EventPresenter.new %>

<table style="width:100%;">
  <tr>
    <% events_by_month.each do |year_and_month, events|  %>
      
      <% year = year_and_month.first %>
      <% month = year_and_month.second %>

      <td valign="top" class="month-cell" style="break-inside:avoid;">
        <%# month name and (sometimes) year %>
        <h2>
          <%= Date::MONTHNAMES[month] %>
      
          <% if current_year != year %>
            <% current_year = year %>
            <%= current_year %>
          <% end %> 
        </h2>

        <table style="width:100%;">
          <% events.each do |event| %>
            <% presenter.event = event %>
            <tr>
              <td valign="top" style="padding: 0.5rem 1rem 0.5rem 0; width:25%;">
                <div class="dates">
                  <%= presenter.dates_to_s %>
                </div>

                <div class="days">
                  <span style="white-space:nowrap;">
                    <%= presenter.days_to_s %>
                  </span>
                </div>
              </td>

              <td valign="top" style="padding: 0.5rem 1rem 0.5rem 0;">
                <div style="font-weight:bold; margin-bottom:0.25rem;">
                  <%= event.title %>
                  <% if event.draft? %>
                    <%= " — DRAFT" %>
                  <% end %>
                </div>
                <div><%= event.location %></div>
              </td>
            </tr>
          <% end # each event %>
        </table>
      </td>

      <%# perform column wrapping %>
      <% current_col += 1 %>
      <% if current_col > 2 %>
        </tr><tr>
        <% current_col = 0 %>
      <% end %>

    <% end # each month  %>
    </tr>
</table>