<% current_year = 0 %>
<% current_col = 0 %>
<% presenter = EventPresenter.new %>

<h1 style="margin-bottom:3rem;">
  <%= @unit.name %>
  Event Calendar
  <%= events_by_month.keys.first.first %>
  &ndash;
  <%= events_by_month.keys.last.first %>
</h1>

<table style="width:100%;">
  <tr>
    <% events_by_month.each do |year_and_month, events|  %>
      
      <% year = year_and_month.first %>
      <% month = year_and_month.second %>

      <td valign="top" style="width:33%;">

        <%# month name and (sometimes) year %>
        <h2 style="color:#E66425;">
          <%= Date::MONTHNAMES[month] %>
      
          <% if current_year != year %>
            <% current_year = year %>
            <%= current_year %>
          <% end %> 
        </h2>

        <table style="width:100%;">
          <% events.each do |event| %>
            <% presenter.event = event %>
            <tr>
              <td valign="top" style="padding: 1rem 1rem 1rem 0;">
                <div style="font-size:150%;">
                  <%= presenter.dates_to_s %>
                </div>

                <div style="font-weight:bold;">
                  <span style="white-space:nowrap;">
                    <%= presenter.days_to_s %>
                  </span>
                </div>
              </td>

              <td valign="top" style="padding: 1rem 1rem 1rem 0;">
                <div style="font-weight:bold; font-size:1.25rem; margin-bottom:0.25rem;"><%= event.title %></div>
                <div><%= event.location %></div>
              </td>
            </tr>
          <% end # each event %>
        </table>
      </td>

      <%# perform column wrapping %>
      <% current_col += 1 %>
      <% if current_col > 2 %>
        </tr><tr>
        <% current_col = 0 %>
      <% end %>

    <% end # each month  %>
    </tr>
</table>

<style>
  body {
    font-size: 13px;
  }
</style>