<style>
  body {
    background: #222 url(<%= asset_path('bg_login.jpg') %>) no-repeat fixed center;
    background-size: cover;
    padding-top: 90px;
    color: #fff;
  }

  .form-wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    /*width: 25%;*/
    width: 25%;
    min-width: 300px;
    max-width: 400px;
    transform: translateY(-50%) translateX(-50%);
  }

  .help a {
    color: rgb(255, 255, 255, 0.5);
    margin-right: 1rem;
  }
</style>

<div class="form-wrapper">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-check mb-3">
        <%= f.check_box :remember_me, class: 'form-check-input' %>
        <%= f.label :remember_me, class: 'form-check-label' %>
      </div>
    <% end %>

    <div class="actions mb-3">
      <%= f.submit "Log in", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="help">
    <%= render "devise/shared/links" %>
  </div>
</div>
